<form action="/cats" method="POST">
<label for="cat-name">Cat Name</label>
<input type="text" name="cat" id="cat-name">
<input type="submit" value="create">
</form>

<ul>
    <li>Navcho</li>
    <li>Parsy</li>
    <li>Nikal</li>
</ul>